*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style: none;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    transition: 0.6s;
}

#header #header-img{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 150px;
    margin-left: 80px;
}

#header #nav-bar ul{
    position: relative;
    min-width: 460px;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}
#header #nav-bar ul li a{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: right;
    text-transform: uppercase;
    text-decoration:none;
}
#header #nav-bar ul li a:hover{
    color: #25a2ff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: right;
    text-transform: uppercase;
}

.promo{
    height: 900px;
    background: url('../img/bg/3-layers.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
    margin-top: 85px;

}

.promo .promo_header{
    margin-top: 294px;
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 72px;
    text-align: center;
}

.promo .promo_text{
    margin-top: 33px;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
}

.promo input[type='email'] {
    display: block;
    max-width: 275px;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 67px;
}

.promo .promo_btn {
    display: block;
    background-color: #4285f4;
    margin: 0 auto;
    margin-top: 21px;
    padding: 21px 49px 21px 49px;
    border-style: none;
    font-weight: 800;
    color: #ffffff;
    border-radius:28px;
    cursor: pointer;
}


.exp{
    background-color: #f9f9f9;
    padding: 118px 0 121px 0;
}

.exp .exp_header{
    color: #333333;
    font-size: 38px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.exp .exp_text{
    color: #777777;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: center;
    margin-top: 23px;
}

.exp .exp_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 40px;
}

.exp .exp_wrapper .exp_block_blue{
    max-width: 550px;
    min-height: 180px;
    box-shadow: 0 7px 20px rgba(66, 133, 244, 0.5);
    background-color: #4285f4;
    display: flex;
    align-content: center;
    padding: 36px 44px 36px 44px;
    margin-bottom: 40px;
}

.exp .exp_wrapper .exp_block_blue .exp_block_img{
    width: 51px;
    height: 51px;
}

.exp .exp_wrapper .exp_block_blue .exp_block_text_wrapper{
    margin-left: 30px;
}

.exp .exp_wrapper .exp_block_blue .exp_block_text_wrapper .exp_block_header{
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.exp .exp_wrapper .exp_block_blue .exp_block_text_wrapper .exp_block_text{
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 17px;
}
.exp .exp_wrapper .exp_block{
    max-width: 550px;
    min-height: 180px;
    display: flex;
    align-content: center;
    padding: 36px 44px 36px 44px;
    
}

.exp .exp_wrapper .exp_block .exp_block_img{
    width: 60px;
    height: 48px;
}

.exp .exp_wrapper .exp_block .exp_block_text_wrapper{
    margin-left: 30px;
}

.exp .exp_wrapper .exp_block .exp_block_text_wrapper .exp_block_header{
    color: #323232;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.exp .exp_wrapper .exp_block .exp_block_text_wrapper .exp_block_text{
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 17px;
}

.exp .exp_hr{
    width: 100%;
    border: 1px solid #e5e5e5;
}

.exp .exp_dvlp{
    color: #333333;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 58px;
}

.exp .exp_btn_buy{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    color: #4285f4;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 60px 20px 60px;
    border: 2px solid #4285f4;
    border-radius:28px;
    cursor: pointer;
}

.work{
    background: url('../img/bg/work_bg.jpg') center center/cover no-repeat;
    padding: 118px 0 121px 0;
}
.work .work_header{
    color: #ffffff;
    font-size: 38px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
}

.work .work_text{
    color: #f6f6f6;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 18px;
}

.work .work_vid_container{
    display: flex;
    justify-content: center;
}

.work iframe{
    margin-top: 60px;
    max-width: 560px;
    width: 100%;
}

footer{
    background-color: #090f21;
    padding: 90px 0 90px 0;
}

footer .footer_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer_wrapper .footer_block{
    width: 360px;
    min-height: 210px;
}

footer .footer_header{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

footer .footer_text{
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 35px;
}

footer .footer_copyright{
    color: #b1b1b1;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 62px;
}

footer .footer_block ul li a{
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: left;
}